<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
  <%= link_to "#{item.title} #{number_to_currency(item.price)}", item_path(item) %>
  <%= add_to_cart_button(item.id) %>
<% end %>
</ul>
